

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.monsters-search-box{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.head{
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 50px;
    text-shadow: 2px 3px 0px #898999;
    color: #fff;
}